/* Estilos generales para html y body */
html, body {
    height: 100%;
    margin: 0;
}

/* Estilos para el body */
body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; /* Color de fondo neutro */
}

/* Estilos para el encabezado */
.header {
    margin: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    background-color: #800000; /* Color tinto */
    color: #fff;
    border-bottom: 4px solid black; /* Blanco */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el enlace del encabezado */
#mytiendita {
    color: #fff;
}

/* Estilos para los botones del encabezado */
.header-button {
    padding: 2px;
    padding-right: 10px;
    background-color: #800000; /* Color tinto */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #fff;
    border: none;
    border-left: 1px solid #bbb;
}

/* Estilos para el contenido principal */
.main-content {
    background-image: url('media/Fondo.avif'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ajusta la altura del main */
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0px;
    margin-top: 89px;
}

/* Estilos para centrar elementos */
.centrar {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilos para las imágenes */
.imagen { 
    width: 80%; 
    height: 1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
    margin-top: 20px; /* Agrega un margen superior para separar la imagen del header */
}

/* Estilos para las imágenes al pasar el ratón */
img:hover {
    transform: scale(1.05);
}

/* Estilos para la descripción */
.descripcion {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 25px;
    box-sizing: border-box;
    border-left: 3px solid #888;
    margin-right: 200px;
}
.descripcion h1, .descripcion h2, .descripcion h3 {
    line-height: 0.5; /* Ajusta este valor según sea necesario */
}

.descripcion p {
    line-height: 1; /* Mantén el interlineado del <p> */
}



/* Estilos para el pie de página */
.footer {
    margin-right: 50px;
    background-color: #800000; /* Color tinto */
    color: #fdb347;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid black; /* Blanco */
    width: 100%;
}

/* Estilos para la información de contacto y redes sociales en el pie de página */
.contact-info, .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilos para los enlaces de redes sociales */
.social-media a {
    color: #ffffff; /* Blanco */
    text-decoration: none;
    margin: 5px 0;
}

/* Estilos para los enlaces de redes sociales al pasar el ratón */
.social-media a:hover {
    text-decoration: underline;
}

/* Estilos para los botones */
.button {
    background-color: #ffffff00;
    color: #800000; /* Color tinto */
    width: 5em;
    height: 2.9em;
    border: #800000 0.2em solid; /* Color tinto */
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    align-items: center;
}

/* Estilos para los botones al pasar el ratón */
.button:hover {
    background-color: #ffffff; /* Blanco */
    color: #800000; /* Color tinto */
}

/* Estilos para los iconos de los botones */
.button svg {
    width: 1.6em;
    margin: 0 auto;
    position: relative;
    display: flex;
    transition: all 0.2s ease;
    color: #800000; /* Color tinto */
}

/* Estilos para los iconos de los botones al pasar el ratón */
.button:hover svg {
    transform: translateX(5px);
}

/* Estilos para el texto de los botones */
.text {
    margin: 0 1.5em;
}

/* Estilos para rotar los botones */
.buttonrotate {
    transform: rotate(180deg);
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .main-content {
    background-image: url('/media/Fondo.avif'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ajusta la altura del main */
    flex-direction: column;
    margin: 0px;
    }

    .descripcion {
        max-width: 90%;
        border: 3px solid #555555;
        border-radius: 7px;
        padding: 3px;
        margin: 10px 0;
    }
    .imagen {
        max-width: 90%;
        border-radius: 7px;
        padding: 3px;
        margin: 10px 0;
    }
    .footer {
        flex-direction: column;
        text-align: center;
        
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;
    }

    .header-button {
        font-size: 12px;
    }

    .main-content {
        margin: 0;
    }

    .imagen {
        width: 100%;
        height: auto;
    }

    .descripcion {
        width: 100%;
        margin: 10px 0;
    }

    .footer {
        margin-right: 0;
        padding: 10px;
    }

    .contact-info, .social-media {
        margin: 10px;
    }
}
@media (max-width: 390px)  {
    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .imagen {
        max-width: 80%; /* Ajusta el ancho máximo */
        height: 400px; /* Mantén la proporción de la imagen */
        margin-top:50px; /* Centra la imagen */
        }
    

    .button {
        margin: 3 5px;
    }
}
