/* Estilos generales para html y body */
html, body {
    -webkit-text-size-adjust: 100%;
    margin: 0;
}


/* Estilos para el body */
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #6d0505;
}

/* Estilos para el encabezado */
.header {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #350303;
    color: #fff;
    position: static;
    display: flex;
  /*  justify-content: space-between;*/
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}



.logo {
  width: clamp(40px, 6vw, 60px);
  height: auto;
  flex-shrink: 0;
}

#mytiendita {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  color: white;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 10px;
  flex-shrink: 1;
}

/* Estilos para la secci贸n derecha del encabezado */
.header-right {
    display: flex;
    justify-content: flex-end;
}

/* Estilos para los botones del encabezado */
.header-button {
    padding: 2px;
    padding-right: 10px;
    background-color: #0a0a23;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #fff;
    border: none;
    border-left: 1px solid #bbb;
}




/* Estilos para el contenido principal */
.main-content {   
    padding: 20px;
}
.centered-container {
    width: 60%;
    margin: 20px auto;
    background-color: #b5b3b3;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-family: fantasy;
    color: #1188bb;
}
/* Estilos para la galer铆a */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
/*          catalogo          */
.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
}
.product-categori {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
/* CSS for 48x48 images */
.image-48x48 {
    width: 80;
    height: 80px;
    background-color: #f1f4fa; /* Background color */
    border: 2px solid #ffdd35; /* Border color */
    border-radius: 8px; /* Rounded corners */
    display: block; /* Display as block to stack elements vertically */
    margin: auto auto; /* Center the image horizontally */
    object-fit: cover; /* Ensure image covers the entire area */
  }

  /* CSS for the text */
  .text-blue {
    color: #006fb9; /* Text color */
    font-family: 'Arial', sans-serif; /* Font family */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Space between image and text */
  }

  /* Container div */
  .container {
    background-color:#f1f4fa ;
    border-radius: 10px;
    text-align: center; /* Center the container content */
  }
.product-categori img {
    width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 10px 10px 0 0;
    object-fit:cover;
}
.product-categori:hover {
    transform: scale(1.05);
}
/*          catalogo          */

/* Estilos para las tarjetas de producto */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Estilos para las tarjetas de producto al pasar el rat贸n */
.product-card:hover {
    transform: scale(1.05);
}

/* Estilos para las im谩genes de las tarjetas de producto */
.product-card img {
    width: 300px;
    max-width: 350px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

/* Estilos para la informaci贸n de las tarjetas de producto */
.product-info {
    padding: 10px;
    text-align: center;
}

/* Estilos para los t铆tulos de las tarjetas de producto */
.product-info h3 {
    margin: 10px 0 5px;
}

/* Estilos para los precios de las tarjetas de producto */
.product-info p {
    margin: 0;
    color: #fdb347;
    font-weight: bold;
}

/* Estilos para la paginaci贸n */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ededee;
}

/* Estilos para los elementos de la paginaci贸n */
.pagination div {
    color: #0a0a23;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
    background-color: #ededee;
}

/* Estilos para el elemento activo de la paginaci贸n */
.pagination div.active {
    background-color: #0a0a23;
    color: white;
    border: 1px solid #0a0a23;
}

/* Estilos para los elementos de la paginaci贸n al pasar el rat贸n */
.pagination div:hover:not(.active) {
    background-color: #a9a7a7;
}

/* Estilos para el pie de p谩gina */
.footer {
    
    margin-right: 50px;
    background-color: #0a0a23;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #fdb347;
    width: 100%;
}


/* Estilos para la informaci贸n de contacto y redes sociales en el pie de p谩gina */
.contact-info, .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilos para los enlaces de redes sociales */
.social-media a {
    color: #fdb347;
    text-decoration: none;
    margin: 5px 0;
}

/* Estilos para los enlaces de redes sociales al pasar el rat贸n */
.social-media a:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #350303;
    color: white;
    flex-wrap: nowrap; /*  evita que los elementos se vayan hacia abajo */
    gap: 10px;
    overflow: hidden;
}

/*////////////////////////////BARRA DE CBUSQUEDA*/

.searchBox {
    left: 280%;
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: white;
    border-radius: 25px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #5a0909 0%, black 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}
  /*button pressing effect*/
 button:active {
    box-shadow: none;
    transform: translateY(0);
}
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px 20px 20px;
  }
  
  
/*////////////////////////////BARRA DE CBUSQUEDA*/



/* Media queries para dispositivos m贸viles */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        margin: 20px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
     .header h1 {
        font-size: 1.5em;
    }
    
    .searchBox{
        /*margin-left: 40%;*/
        display: flex;
        height: 100%;
        left: 0;
        width: 150%;
        margin-right:10%;
        
        
        
    }
form{
    margin-left: 30%
}
.searchButton {
    position:relative;
    left:-20%;
    background: rgb(120 4 4);
    margin-left: 1%;
    max-width: 100%;
    
}


    .header-button {
        
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .header h1 {
        font-size: 1.5em;
    }
    .searchBox{
        margin-left:20%;
        display: flex;
        height: 100%;
        left: 0;
        width: 105%;
        
        
    }

.searchButton {
    position:relative;
    left:-20%;
    background: rgb(120 4 4);
    max-width: 100%;
    
}


    .header-button {
        
        font-size: 12px;
    }

    .main-content {
        margin: 10px;
    }

    .footer {
        margin-right: 0;
        padding: 10px;
    }

    .contact-info, .social-media {
        margin: 10px;
    }
}

@media (min-width: 791px) {
    .header h1 {
        font-size: 1.5em;
    }
    form{
    margin: 0;
    margin-left: 32%;
    }
    .searchBox{
    display: flex;
    gap: 1%;
    border-radius: 25px;
    width: 150%;  
    }
    .searchInput{
    width: 150%;
    border: none;
    color: #191919;
    font-size: 13px;
    padding-right: 1%;
    background: white;
    border-radius: inherit;
    }

.searchButton {
        position: relative;
    left: -15%;
    padding: 0;
    color: white;
    right: 8px;
    width: 25%;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #5a0909 0%, black 100%));
    border: 0;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    
}


    .header-button {
        
        font-size: 12px;
    }

    .main-content {
        margin: 10px;
    }

    .footer {
        margin-right: 0;
        padding: 10px;
    }

    .contact-info, .social-media {
        margin: 10px;
    }
}*/
 
@media (max-width: 768px) {
    .header {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
    form{
        margin-right: 5%;
    }
    .searchBox {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .main-content {
        margin: 20px;
    }
}

@media (max-width: 415px) {
    .header h1 {
        font-size: 1.5em;
    }
    .searchBox {
        width: 50%;
    }
    .header-button {
        font-size: 12px;
    }
    form{
        width: 60%;
        justify-items: flex-end;
    }

    .main-content {
        margin: 10px;
    }

    .footer {
        margin-right: 0;
        padding: 10px;
    }

    .contact-info, .social-media {
        margin: 10px;
    }
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
